/***font***/
.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.inter-tight-uniquifier {
    font-family: "Inter Tight", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/***basic***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

ul {
    list-style-type: none;
}

/***main***/
/***nav***/
main {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

main > .all {
    display: flex;
    flex-direction: column;  
}

main > nav > ul {
    background-color: #ffffff;
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
    font-family: 'PyeongChangPeace-Bold';
}

main > nav > ul > li {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

main > nav > ul > li:hover {
    color: #fff;
    background-color: #FFC0CB;
    border-radius: 15px;
}

main > .all > .h2-all {
    margin: 50px;
}

main > .all > .h2-all > h2 {
    font-family: 'PyeongChangPeace-Bold';
    color: #fff;
    font-size: 100px;
}

main > .all > .h2-all > h2:nth-of-type(2) {
    font-size: 80px;
    color: #00B8D4;
}

main > .all > .main-all {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding:  50px;
}

main > .all > .main-all > .main-a {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
    text-align: left;  
    color: #fff;  
    font-size: 18px;
}

main > .all > .main-all > img {
    width: 480px;
    height: 600px;
    border-radius: 15px;
    margin-left: 30px;  
}

/* **skill section** */
section {
    width: 100%;
    height: 100vh;
    background-color: #FFC0CB;
    align-items: center;
}

section > .img-1 {
    padding-left: 200px;
}

section > h2 {
    font-family: 'HSSanTokki20-Regular';
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 200px;
    color: #000;
    margin: 50px;
}

section > h2 > hr {
    background-color: #000;
    width: 20%;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    border: none;
    border-radius: 7px;
}

/*** clone-site ***/
.clone-all {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.clone-Site {
    overflow-x: auto; 
    white-space: nowrap;
    display: flex;
}

.clone-all > h2 {
    font-family: 'PyeongChangPeace-Bold';
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    padding: 50px;
}

.clone-Site > .clone-wrap1,
.clone-Site > .clone-wrap2,
.clone-Site > .clone-wrap3,
.clone-Site > .clone-wrap4 {
    flex-shrink: 0; 
    display: flex; 
    align-items: center; 
    margin: 0 150px;
}

.clone-Site > .clone-wrap1 > .clone-a,
.clone-Site > .clone-wrap2 > .clone-b,
.clone-Site > .clone-wrap3 > .clone-c,
.clone-Site > .clone-wrap4 > .clone-d {
    margin: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.clone-Site > .clone-wrap1 > .clone-a > button,
.clone-Site > .clone-wrap2 > .clone-b > button,
.clone-Site > .clone-wrap3 > .clone-c > button,
.clone-Site > .clone-wrap4 > .clone-d > button {
    width: 300px;
    height: 60px;
    margin: 50px 0;
    cursor: pointer;
    border: none;
    background-color: #FFC0CB;
    font-family: 'PyeongChangPeace-Bold';
    border-radius: 10px;
    font-size: 30px;
}

.clone-Site > .clone-wrap1 > .clone-a > h3,
.clone-Site > .clone-wrap2 > .clone-b > h3,
.clone-Site > .clone-wrap3 > .clone-c > h3,
.clone-Site > .clone-wrap4 > .clone-d > h3 {
    font-size: 50px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > .clone-a > h5,
.clone-Site > .clone-wrap2 > .clone-b > h5,
.clone-Site > .clone-wrap3 > .clone-c > h5,
.clone-Site > .clone-wrap4 > .clone-d > h5 {
    margin: 20px 0;
    font-size: 30px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > .clone-a > p,
.clone-Site > .clone-wrap2 > .clone-b > p,
.clone-Site > .clone-wrap3 > .clone-c> p,
.clone-Site > .clone-wrap4 > .clone-d > p {
    font-size: 25px;
    color: #fff;
}

.clone-Site > .clone-wrap1 > img,
.clone-Site > .clone-wrap2 > img,
.clone-Site > .clone-wrap3 > img,
.clone-Site > .clone-wrap4 > img {
    margin: 50px;
    width: 800px;
    height: 600px;
    border-radius: 8px; /* 이미지를 둥글게 */
}


/*** Website Publishing ***/
.web-all{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}
.web-all > .web-1,
.web-all > .web-2,
.web-all > .web-3{
    text-align: center;
    margin: 50px;
}
.web-all > h2{
    font-family: 'PyeongChangPeace-Bold';
    color: #00B8D4;
}
.web-all > .web-1 > img,
.web-all > .web-2 > img,
.web-all > .web-3 > img{
    width: 300px;
    height: 200px;
}

.web-all > .web-1 > .web-a > p{
}
.web-all > .web-1 > .web-a > h4{
    
}
.web-all > .web-1 > .web-a > button,
.web-all > .web-2 > .web-b > button,
.web-all > .web-3 > .web-c > button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #B0B0B0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}